*{
    margin: 0;
    padding: 0;
   font-family: 'Ubuntu', sans-serif;
}
  
.App{
    display: flex;
}
.navbar{
    position: fixed;
}


/* ------------------------------------ */

.page-data-container{
    background-color: rgba(240, 249, 255, 0.745);
    left: 276px;
    display: flex;
    flex-direction: column;
    position:absolute;
    width: 80.9vw;
}


.section-container{
    display: flex;
    /* background-color: aqua; */
   
}

.main-section-container{
    width: 75%;
}

